Body {
  color: orange !important;

}

.values-container {
  margin: 25px;
}

.table-text {
  color: orange;
}

.graph-container {
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 40px;
}

.graphs-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 25px, auto, 25px;
}
