Body {
  /* background-color: black !important;  */
  color: orange !important;
}

.app-container {
  margin: 25px;
}

.table-text {
  color: orange;
}

.graph-container {
  min-width: 100px;
  min-height: 100px;
  margin: 5px
}

.graphs-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}