Body {
  /* background-color: black !important;  */
  color: orange !important;
}

.app-container {
  margin: 25px;
}

.table-text {
  color: orange;
}

.graph-container {
  min-width: 200px;
  min-height: 200px;
  border: 1px solid blue;
}